{% extends 'base.html' %}

{% block title %}
    Edit post
{% endblock %}
{% block content_title %}
    Edit post
{% endblock %}

{% block content %}
<div class="col-md-8">
    <form action="{{url_for('posts.edit_post',slug=post.slug)}}" method="POST">
        {%for i in form %}
            <div class="form-group">
                {{i.label(class='control-label')}}
                {{i(class='form-control')}}
            </div>
        {% endfor%}
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>
{%endblock%}